#caja-principal{
    width: 60%;
    height: 100%;
    padding:20px 0px 20px 0px;
    margin: 0 auto;

    background-image: url('/imagenes/icons/404.gif');
    background-repeat: no-repeat;
    background-position: center; 
}