div(class="title-slider") Tal vez te interesen estas otras películas:
  
div(class="caja-slider")
    //- div(class="row")
    //-     div(class="col-12-xs")
    div(id="carousel-example-generic", class="carousel slide  ", data-ride="carousel")
        //- Indicators
        ol(class="carousel-indicators", id="carousel-indicador")
            li(data-target="#carousel-example-generic", data-slide-to="0", class="active")
            li(data-target="#carousel-example-generic", data-slide-to="1")

        //-  Wrapper for slides
        if countRecomends > 0
            div(class="carousel-inner", role="listbox")
                div(class="carousel-item active")      
                    div(class="row")
                        each val, index in pelisRecomends

                            if index < 3                              
                                div(class="col-sm-4")
                                    a(class="thumbnail", href="#")
                                        img(src="http://lorempixel.com/300/300", alt="#{val.titulo + ' -- ' + index }")
                                        div(class="carousel-caption") Lorem ipsum dolor. 
            
                if countRecomends > 3
                    div(class="carousel-item")     
                        div(class="row")
                            each val, index in pelisRecomends

                                if index >= 3                   
                                    div(class="col-sm-4")
                                        a(class="thumbnail", href="#")
                                            img(src="http://lorempixel.com/300/300", alt="#{val.titulo + ' -- ' + index }")
                                            div(class="carousel-caption") Lorem ipsum dolor. 